<template>
     <div class="col-md-12">
        <div class="form-group">
            <router-link :to="{name: 'createAnar'}" class="btn btn-success">Создать новую новость</router-link>
        </div>
 
        <div class="panel panel-default">
            <div class="panel-heading">Список новостей</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Описание</th>
                        <th>Содержание</th>
                        <th>Изображение</th>
                        <th>Дата создания</th>
                        <th>Статус</th>
                        <th width="200">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="anar, index in anars">
                        <td>{{ anar.name }}</td>
                        <td>{{ anar.description }}</td>
                        <td>{{ anar.content }}</td>
                        <td>{{ anar.image }}</td>
                        <td>{{ anar.created_date }}</td>
                        <td>{{ anar.status }}</td>
                        <td>
                            <router-link :to="{name: 'editAnar', params: {id: anar.id}}" class="btn btn-xs btn-default">
                                Просмотр
                            </router-link>
                            <a href="#"
                               class="btn btn-xs btn-danger"
                               v-on:click="deleteEntry(anar.id, index)">
                                Удалить
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data: function () {
            return {
                anars: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/anars')
                .then(function (resp) {
                    app.anars = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Новость не создана");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v1/anars/' + id)
                        .then(function (resp) {
                            app.anars.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Новость не создана");
                        });
                }
            }
        }
    }
</script>