<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Назад</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Просмотр новости</div>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Название</label>
                            <input type="text" v-model="anar.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label" id="user">Описание</label>
                            <input type="text" v-model="anar.description" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label" id="user">Содержание</label>
                            <input type="text" v-model="anar.content" class="form-control">
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Изображение</label>
                            <input type="text" v-model="anar.image" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Дата создания</label>
                            <input type="date" v-model="anar.created_date" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Статус</label>
                            <input type="radio" v-model="anar.status" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.anarId = id;
            axios.get('/api/v1/anars/' + id)
                .then(function (resp) {
                    app.anar = resp.data;
                })
                .catch(function () {
                    alert("Новость не создана")
                });
        },
        data: function () {
            return {
                anarId: null,
                anar: {
                    name: '',
                    description: '',
                    content: '',
                    image: '',
                    created_date: '',
                    status: '',
                }
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newAnar = app.anar;
                axios.patch('/api/v1/anars/' + app.anarId, newAnar)
                    .then(function (resp) {
                        app.$router.replace('/');
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Новость не создана");
                    });
            }
        }
    }
</script>